<app-modal *ngIf="modalService.isVisible$ | async">
  <app-add-task *ngIf="modalService.titleModal === 'Добавить задачу'"></app-add-task>
  <app-add-column *ngIf="modalService.titleModal === 'Добавить колонку'"></app-add-column>
  <app-detail-task *ngIf="modalService.titleModal === ''"></app-detail-task>
</app-modal>

<app-creating-first-task *ngIf="!checkTasks()"></app-creating-first-task>

<div class="container">
  <div *ngIf="columnTasks.value.length && checkTasks() " class="tasks">
    <div *ngFor="let col of columnTasks | async" class="tasks__item">
      <app-task-list [task]="col"></app-task-list>
    </div>
    <button class="tasks__add" (click)="createColumn()">+</button>
  </div>

</div>













