.detail{
  &__container{
    background: gainsboro;
    padding: 20px;
    margin-top: 100px;
    width: 500px;
  }
  &__title{
    margin-bottom: 10px;
    font-size: 20px;
  }
  &__description{
    margin-bottom: 10px;
    font-size: 18px;
  }
  &__description-text{
    min-height: 90px;
    height: auto;
    width: 400px;
    resize: none;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px black;
  }
  &__comment-title{
    margin-top: 10px;
    font-size: 16px;
  }
  &__text-comment{
    width: 300px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px black;
  }
  &__add-comment{

  }
  &__comments{

  }
}
.comment{
  margin-top: 10px;
  padding: 5px;
  min-width: 100px;
  &__item{

  }
  &__date{
    font-size: 14px;
  }
}

