.column{
  cursor: default;
  padding: 10px;
  list-style: none;
  background: #ebecf0;
  border-radius: 5px;

  &:hover &__delete{
    visibility: visible;
  }
  &__title{
    position: relative;
    font-size: 20px;
    margin: 0 0 10px 0;
  }
  &__image{
    width: 10px;
    height: 10px;
  }
  &__delete{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    visibility: hidden;
  }
  &__list{

  }
  &__item{
    justify-content: space-between;
    align-items: center;
    display: flex;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    margin: 0 0 10px 0;
    word-wrap: anywhere;
    background: white;
  }
  &__item-text{
    width: 100%;
  }
  &__item:hover &__deleteTask{
    visibility: visible;
  }
  &__deleteTask{
    cursor: pointer;
    background: transparent;
    font-size: 20px;
    color: orangered;
    visibility: hidden;
  }
  &__deleteTask:hover{
    color: red;
    font-weight: bold;
  }

  &__add-task{
    cursor: pointer;
  }

}


